body {
    background-color: #7f342e;
    color: white;
    font-family: 'Cabin', sans-serif;
}

img {
    height: auto;
    width: 300px;
}

.card {
    height:auto;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bench {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(148, 255, 255);
    font-size: 20px;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

.links {
    text-align: center;
}